.border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;;
}

.justify-center{
    justify-content: center;
}

.item-center{
    align-items: center;
}

.invert{
    filter: invert(1);
}

.bg-black{
    background-color: black;
    color: white;
}

.bg-gray{
    background-color: #121212;
}

.radius{
    border-radius: 10px;
}